.active {
  color: #1da1f2;
}

.botao svg {
  display: none;
}

@media (max-width: 768px) {


  .sidebar {
    padding: 24px 12px;
    align-items: center;
  }
  

  .sidebar nav a span{
    display: none;
  }

  .botao span {
    display: none;
  }

  .botao svg {
    display: block;
    margin-left: -10px;
  }

  .botao {
    border-radius: 50%;
  }


}